.c-modal {

    $c: &;

    background: rgba(0,0,0,.7);
    position: fixed;
    z-index: 100000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    transition: all $duration $easing;

    &__container {
        width: 90%;
        max-width: 800px;
        opacity: 0;
        transform: translateY(-50%);
        transition: all $duration $easing;
        max-height: 70vh;
        overflow-y: auto;
    }

    &__backdrop {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index: 0;
    }

    &__close._button{
        position: absolute;
        top:20px;
        right:20px;
        border-radius: 50%;
        padding: 0;
        width: 40px;
        font-size:21px;
        z-index: 100;
    }

    .embed-responsive.-map {
        padding-bottom: 56.5%;
    }

    &.-open {
        visibility: visible;
        opacity: 1;
        pointer-events: all;

        #{$c}__container {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
