extends ../_layouts/base

include ../_modules/hero/hero

block title
    title Torneos | Comercialización de Derechos Audiovisuales

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.novedades
        //+hero(site.data.novedades.hero)
        
        section.novedades__body
            .container
                .row
                    .col-xs-24
                        .row.nopadding.novedades__principal
                            .col-xs-24.col-sm-12.novedades__principal__col
                                .novedades__principal__image.wow.fadeInLeft
                                    a(href="#")
                                        img(src="https://picsum.photos/1024/768?image=5")
                            .col-xs-24.col-sm-12.novedades__principal__col
                                .novedades__principal__content.wow.fadeInRight
                                    a(href="#")
                                        h2.novedades__principal__title Titulo de la noticia principal de la pagina de novedades
                                    p.novedades__principal__summary Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                                    a.novedades__principal__keep-reading(href="#") Seguir leyendo...
                                    ul.novedades__share-box
                                        li
                                            i.fa.fa-share-alt
                                        li
                                            a(href="#")
                                                i.fa.fa-facebook
                                        li
                                            a(href="#")
                                                i.fa.fa-twitter
        
        section.novedades__list
            .container
                .row
                    - for (var i = 0; i < 12; ++i) {
                    .col-xs-24.col-sm-12.col-md-8
                       article.novedades__article.wow.fadeInUp
                            .novedades__article__image
                                a(href="#")
                                    img(src="https://picsum.photos/1024/768?image=#{i + (i*2)}")

                            .novedades__article__content
                                a(href="#")
                                    h3.novedades__article__title Titulo de la noticia article de la pagina de novedades
                                p.novedades__article__summary Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                                a.novedades__article__keep-reading(href="#") Seguir leyendo...
                                ul.novedades__share-box
                                    li
                                        i.fa.fa-share-alt
                                    li
                                        a(href="#")
                                            i.fa.fa-facebook
                                    li
                                        a(href="#")
                                            i.fa.fa-twitter
                                    li
                                        a(href="#")
                                            i.fa.fa-envelope-o
                    - }

                .row
                    .col-xs-24
                        ul.novedades__pagination
                            li.-active
                                a(href="#") 1
                            - for (var i = 0; i < 5; ++i) {
                            li
                                a(href="#")=i+2
                            - }
                    
                    

        section.derechos__photos
            .derechos__photos__row-one
                .derechos__photo.wow.fadeInLeftBig
                    img.img-responsive(src="/images/derechos/row1-1.jpg")
                .derechos__photo.wow.fadeInLeftBig
                    img.img-responsive(src="/images/derechos/row1-2.jpg")
            .derechos__photos__row-two
                .derechos__photo.wow.fadeInLeftBig
                    img.img-responsive(src="/images/derechos/row2-1.jpg")
